h1{font-family:'Times New Roman', Times, serif ; color: pink; text-align: center;}
h2{font-family: 'Arial Black', Gadget, sans-serif; color: purple; text-align: center;}
h3{font-family: 'Courier New', Courier, monospace; color: yellow; text-align: center;}
body{background-color: deeppink;}
p{font-family: cursive; background-color: yellow}
ol{font-family: Georgia, 'Times New Roman', Times, serif; color:rgb(0, 255, 60)}
ul a{color:aqua;font-size: 1em;}
ul{color:lime}
footer p { background-color: transparent; }
